@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";



body{
    --orange: #FF6700;
    --blue-dark: #004E98;
    --blue-light: #3A6EA5;
    --white: #EBEBEB;
    --text-color-light: #FFFFFF;
    --text-color-dark: #3C3C3C;

    background-image: url('/resources/images/bg.png');
    background-size: cover;
}

body:after {
    content: "";
    background: var(--blue-dark);
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
